html {
  color-scheme: light dark;
}

:root {
  --color-accent: oklch(65% 50% 0);
  --color-accent-light: oklch(95% 5% 0);
  --color-border: oklch(80% 3% 200);
  --border-color: oklch (50% 10% 200 / 40%);
}


h3 {
  font-size: 1.5rem;  /* Adjust the font size as needed */
  margin: 0.5rem 0;   /* Add some margin for spacing */
  color: #333;        /* Set the text color */
}


.current {
  font_weight: bold;
  text_decoration: underline;
}